<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <template slot="sidebar">
            <Sidebar></Sidebar>
        </template>
        <slot>
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner" >
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-business-center"></i> Open Cases </h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">
                                        <template v-for="openCase in openCases">
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">
                                                        <template v-if="openCase.is_private">
                                                            <i class="icon-feather-eye-off icon-is-private red"></i>
                                                        </template>
                                                        <template v-else>
                                                            <i class="icon-feather-eye icon-is-private green"></i>
                                                        </template>
                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="#">{{openCase.title}}</a></h3>
                                                            <h5 class="job-listing-description">{{openCase.description}}</h5>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer margin-top-10">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-business-center"></i>{{openCase.category.name}}</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>{{openCase.created_at}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-20">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-business-center"></i> Old Cases </h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">
                                        <template v-for="closeCase in closeCases">
                                            <li>
                                                <div class="job-listing">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">
                                                        <template v-if="openCase.is_private">
                                                            <i class="icon-feather-eye-off icon-is-private red"></i>
                                                        </template>
                                                        <template v-else>
                                                            <i class="icon-feather-eye icon-is-private green"></i>
                                                        </template>
                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="#">{{openCase.title}}</a></h3>
                                                            <h5 class="job-listing-description">{{openCase.description}}</h5>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer margin-top-10">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-business-center"></i>{{openCase.category.name}}</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>{{openCase.created_at}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--&lt;!&ndash; Dashboard Box &ndash;&gt;-->
                        <!--<div class="col-xl-12">-->
                            <!--<div class="dashboard-box">-->

                                <!--&lt;!&ndash; Headline &ndash;&gt;-->
                                <!--<div class="headline">-->
                                    <!--<h3><i class="icon-material-outline-face"></i> Bookmarked Mediator</h3>-->
                                <!--</div>-->

                                <!--<div class="content">-->
                                    <!--<ul class="dashboard-box-list">-->
                                        <!--<li>-->
                                            <!--&lt;!&ndash; Overview &ndash;&gt;-->
                                            <!--<div class="freelancer-overview">-->
                                                <!--<div class="freelancer-overview-inner">-->

                                                    <!--&lt;!&ndash; Avatar &ndash;&gt;-->
                                                    <!--<div class="freelancer-avatar">-->
                                                        <!--<div class="verified-badge"></div>-->
                                                        <!--<a href="#"><img src="images/user-avatar-big-02.jpg" alt=""></a>-->
                                                    <!--</div>-->

                                                    <!--&lt;!&ndash; Name &ndash;&gt;-->
                                                    <!--<div class="freelancer-name">-->
                                                        <!--<h4><a href="#">David Peterson <img class="flag" src="images/flags/de.svg" alt="" title="Germany" data-tippy-placement="top"></a></h4>-->
                                                        <!--<span>iOS Expert + Node Dev</span>-->
                                                        <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                                        <!--<div class="freelancer-rating">-->
                                                            <!--<div class="star-rating" data-rating="4.2"></div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Buttons &ndash;&gt;-->
                                            <!--<div class="buttons-to-right">-->
                                                <!--<a href="#" class="button red ripple-effect ico" title="Remove" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></a>-->
                                            <!--</div>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--&lt;!&ndash; Overview &ndash;&gt;-->
                                            <!--<div class="freelancer-overview">-->
                                                <!--<div class="freelancer-overview-inner">-->

                                                    <!--&lt;!&ndash; Avatar &ndash;&gt;-->
                                                    <!--<div class="freelancer-avatar">-->
                                                        <!--<a href="#"><img src="images/user-avatar-placeholder.png" alt=""></a>-->
                                                    <!--</div>-->

                                                    <!--&lt;!&ndash; Name &ndash;&gt;-->
                                                    <!--<div class="freelancer-name">-->
                                                        <!--<h4><a href="#">Marcin Kowalski <img class="flag" src="images/flags/pl.svg" alt="" title="Poland" data-tippy-placement="top"></a></h4>-->
                                                        <!--<span>Front-End Developer</span>-->
                                                        <!--&lt;!&ndash; Rating &ndash;&gt;-->
                                                        <!--<div class="freelancer-rating">-->
                                                            <!--<div class="star-rating" data-rating="4.7"></div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--&lt;!&ndash; Buttons &ndash;&gt;-->
                                            <!--<div class="buttons-to-right">-->
                                                <!--<a href="#" class="button red ripple-effect ico" title="Remove" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></a>-->
                                            <!--</div>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                    <!-- Footer -->
                    <div class="dashboard-footer-spacer"></div>
                    <Footer></Footer>
                    <!-- Footer / End -->

                </div>
            </div>
        </slot>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>