.dashboard-content-container {
  display: inline-table;
}
.counter-item {
  font-size: 16px;
  line-height: 35px;
  width: 36px;
  height: 36px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 50%;
  text-align: center;
  margin: 0;
  margin-left: 0;
  font-weight: 500;
  color: #333;
  position: relative;
  float: left;
  left: -50px;
  font-size: 15px;
  transform: translateY(-10%);
  color: white;
  border: 1px solid #2a41e8;
  background-color: #2a41e8;
}
.counter-item.public {
  border: 1px solid #38b653;
  background-color: #38b653;
}
.icon-is-private {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.5em;
  transform: translateY(-50%);
}
.icon-is-private.green {
  color: #38b653;
}
.icon-is-private.red {
  color: red;
}