<template>
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>{{title}}</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <template v-for="breadcrumb in breadCrumbs">
                                <li><router-link :to="breadcrumb.url">{{breadcrumb.name}}</router-link></li>
                            </template>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    @import "module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>