<template>

    <div class="col-xl-5">

        <div class="login-register-page">
            <!-- Welcome Text -->
            <div class="welcome-text">
                <h3 style="font-size: 26px;">Let's create your account!</h3>
                <span>Already have an account? <a @click="signIn">Log In!</a></span>
            </div>

            <!-- Account Type -->
            <div class="account-type">
                <div>
                    <input type="radio" name="account-type-radio" value="user" id="user" class="account-type-radio" checked v-model="formData.type"/>
                    <label for="user" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i>USER</label>
                </div>

                <div>
                    <input type="radio" name="account-type-radio" value="mediator_user" id="mediator" class="account-type-radio" v-model="formData.type"/>
                    <label for="mediator" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i>MEDIATOR</label>
                </div>
            </div>
            <div class="notification closeable" :class="status.error?'error':'success'" v-if="status.error || status.success">
                {{status.error || status.success}}
                <a class="close"></a>
            </div>
            <!-- Form -->
            <form @submit.prevent="signUp">
                <div class="input-with-icon-left">
                    <i class="icon-material-baseline-mail-outline"></i>
                    <input type="text" class="input-text with-border" v-model="formData.email" placeholder="Email Address" required/>
                </div>

                <div class="input-with-icon-left">
                    <i class="icon-feather-user"></i>
                    <input type="text" class="input-text with-border" v-model="formData.name" placeholder="Name Surname" required/>
                </div>

                <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
                    <i class="icon-material-outline-lock"></i>
                    <input type="password" class="input-text with-border" v-model="formData.password" placeholder="Password" required/>
                </div>

                <div class="input-with-icon-left">
                    <i class="icon-material-outline-lock"></i>
                    <input type="password" class="input-text with-border" v-model="formData.confirm_password" placeholder="Repeat Password" required/>
                </div>
                <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" :disabled="formData.submitDisabled">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
            </form>

        </div>
    </div>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>