<template>
    <div class="col-xl-5">


        <div class="login-register-page">
            <!-- Welcome Text -->
            <div class="welcome-text">
                <h3>We're glad to see you again!</h3>
                <span>Don't have an account? <a @click="signUp">Sign Up!</a></span>
            </div>
            <div class="notification error closeable" v-if="status.error">
                {{status.error}}
                <a class="close"></a>
            </div>
            <form @submit.prevent="signIn">
                <div class="input-with-icon-left">
                    <i class="icon-material-baseline-mail-outline"></i>
                    <input type="text" class="input-text with-border" v-model="formData.email" placeholder="Email Address" required/>
                </div>

                <div class="input-with-icon-left">
                    <i class="icon-material-outline-lock"></i>
                    <input type="password" class="input-text with-border" v-model="formData.password" placeholder="Password" required/>
                </div>
                <!-- Button -->
                <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" :disabled="formData.submitDisabled">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>
            </form>
        </div>

    </div>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>