<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <slot>
            <Breadcrumb :title="bradCrumb.title" :breadCrumbs="bradCrumb.breadCrumbs"></Breadcrumb>
            <div class="container">
                <div class="row login-type-container">
                    <component :is="authType" @changeType="switchType"></component>
                </div>
            </div>
        </slot>
        <template slot="footer">
            <Footer></Footer>
        </template>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>