.login-type-container {
  justify-content: center;
}
.login-type-container {
  .welcome-text {
    a {
      color: #2a41e8;
      cursor: pointer;
      &:hover {
        color: #001eff;
      }
    }
  }
}
.alert.alert-danger {
  color: red;
  font-size: 0.9em;
  text-align: center;
}