<template>
    <footer id="footer">


        <!-- Footer Middle Section -->
        <div class="footer-middle-section">
            <div class="container">
                <div class="row">

                    <!--&lt;!&ndash; Links &ndash;&gt;-->
                    <!--<div class="col-xl-2 col-lg-2 col-md-3">-->
                        <!--<div class="footer-links">-->
                            <!--<h3>For Candidates</h3>-->
                            <!--<ul>-->
                                <!--<li><a href="#"><span>Browse Jobs</span></a></li>-->
                                <!--<li><a href="#"><span>Add Resume</span></a></li>-->
                                <!--<li><a href="#"><span>Job Alerts</span></a></li>-->
                                <!--<li><a href="#"><span>My Bookmarks</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Links &ndash;&gt;-->
                    <!--<div class="col-xl-2 col-lg-2 col-md-3">-->
                        <!--<div class="footer-links">-->
                            <!--<h3>For Employers</h3>-->
                            <!--<ul>-->
                                <!--<li><a href="#"><span>Browse Candidates</span></a></li>-->
                                <!--<li><a href="#"><span>Post a Job</span></a></li>-->
                                <!--<li><a href="#"><span>Post a Task</span></a></li>-->
                                <!--<li><a href="#"><span>Plans & Pricing</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Links &ndash;&gt;-->
                    <!--<div class="col-xl-2 col-lg-2 col-md-3">-->
                        <!--<div class="footer-links">-->
                            <!--<h3>Helpful Links</h3>-->
                            <!--<ul>-->
                                <!--<li><a href="#"><span>Contact</span></a></li>-->
                                <!--<li><a href="#"><span>Privacy Policy</span></a></li>-->
                                <!--<li><a href="#"><span>Terms of Use</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; Links &ndash;&gt;-->
                    <!--<div class="col-xl-2 col-lg-2 col-md-3">-->
                        <!--<div class="footer-links">-->
                            <!--<h3>Account</h3>-->
                            <!--<ul>-->
                                <!--<li><a href="#"><span>Log In</span></a></li>-->
                                <!--<li><a href="#"><span>My Account</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!-- Newsletter -->
                    <div class="col-xl-4">
                        <div class="footer-row">
                            <div class="footer-row-inner">
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-md-4">
                        <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
                        <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
                        <form action="#" method="get" class="newsletter">
                            <input type="text" name="fname" placeholder="Enter your email address">
                            <button type="submit"><i class="icon-feather-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Middle Section / End -->

        <!-- Footer Copyrights -->
        <!--<div class="footer-bottom-section">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-xl-12">-->
                        <!--© 2018 <strong>Hireo</strong>. All Rights Reserved.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- Footer Copyrights / End -->

    </footer>
</template>

<style lang="scss">
    @import "module.style";
</style>

<script>
    import Module from ".";
    const module = new Module();
    export default module;
</script>