<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <template slot="sidebar">
            <Sidebar></Sidebar>
        </template>
        <slot>
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">

                    <div class="row">
                        <form @submit.prevent="submitFormData">
                            <!-- Dashboard Box -->
                            <div class="col-xl-12">
                                <div class="dashboard-box margin-top-0">

                                    <!-- Headline -->
                                    <div class="headline">
                                        <h3><i class="icon-feather-folder-plus"></i> Case Submission Form</h3>
                                    </div>

                                    <div class="content with-padding padding-bottom-10">
                                        <div class="row">

                                            <div class="col-xl-4">
                                                <div class="submit-field">
                                                    <h5>Case Title</h5>
                                                    <input type="text" class="with-border" v-model="formData.title">
                                                </div>
                                            </div>

                                            <div class="col-xl-4">
                                                <div class="submit-field">
                                                    <h5>Case Category</h5>
                                                    <select class="selectpicker with-border"
                                                            title="Select Category" v-model="formData.category">
                                                        <template v-for="category in categoryList">
                                                            <option :value="category.id">{{category.name}}</option>
                                                        </template>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xl-4">
                                                <div class="submit-field">
                                                    <h5>Case Privacy</h5>
                                                    <select class="selectpicker with-border" v-model="formData.is_private"
                                                            title="Select Privacy">
                                                        <option value="0">Public</option>
                                                        <option value="1">Private</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Mediators</h5>
                                                    <select class="selectpicker with-border mediator-selectpicker"
                                                            title="Select Mediators" data-live-search="true" multiple v-model="formData.mediators">
                                                        <template v-for="mediator in mediatorList">
                                                            <option :value="mediator.id">{{mediator.name}}</option>
                                                        </template>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Case Description</h5>
                                                    <textarea cols="30" rows="5" class="with-border" v-model="formData.description"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-12">
                                <button type="submit" class="button ripple-effect big margin-top-30"><i
                                        class="icon-feather-plus"></i> Post a Job</button>
                            </div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="dashboard-footer-spacer"></div>
                    <Footer></Footer>
                    <!-- Footer / End -->

                </div>
            </div>
        </slot>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";

    const module = new Module();
    export default module;
</script>