<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <slot>
            <SearchBox :statistics="statistics"></SearchBox>
            <Mediators :mediators="mediators"></Mediators>
        </slot>
        <template slot="footer">
            <Footer></Footer>
        </template>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>