.full-page-sidebar {
  max-width: 340px;
}
.full-page-sidebar .full-page-sidebar-inner {
  height: 75vh;
}
.freelancers-list-layout .freelancer-overview {
  padding: 0 40px;
}
.freelancers-list-layout .freelancer-details {
  padding: 20px 20px 10px 0;
}