<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <slot>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <section id="not-found" class="center margin-top-50 margin-bottom-25">
                            <h2>404 <i class="icon-line-awesome-question-circle"></i></h2>
                            <p>We're sorry, but the page you were looking for doesn't exist</p>
                        </section>

                        <div class="row">
                            <div class="col-xl-8 offset-xl-2">
                                <div class="intro-banner-search-form not-found-search margin-bottom-50">
                                    <!-- Search Field -->
                                    <div class="intro-search-field ">
                                        <input id="intro-keywords" type="text" placeholder="What Are You Looking For?">
                                    </div>

                                    <!-- Button -->
                                    <div class="intro-search-button">
                                        <button class="button ripple-effect">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </slot>
        <template slot="footer">
            <Footer></Footer>
        </template>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>