<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <template slot="sidebar">
            <Sidebar></Sidebar>
        </template>
        <slot>
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner" >

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <span>We are glad to see you again!</span>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="dark">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>Dashboard</li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Fun Facts Container -->
                    <div class="fun-facts-container">
                        <div class="fun-fact" data-fun-fact-color="#36bd78">
                            <div class="fun-fact-text">
                                <span>Closed Case</span>
                                <h4>{{statistics.closedDisputes}}</h4>
                            </div>
                            <div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
                        </div>
                        <div class="fun-fact" data-fun-fact-color="#b81b7f">
                            <div class="fun-fact-text">
                                <span>Open Case</span>
                                <h4>{{statistics.openDisputes}}</h4>
                            </div>
                            <div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
                        </div>
                        <div class="fun-fact" data-fun-fact-color="#efa80f">
                            <div class="fun-fact-text">
                                <span>Offers</span>
                                <h4>{{statistics.offers}}</h4>
                            </div>
                            <div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
                        </div>

                        <!-- Last one has to be hidden below 1600px, sorry :( -->
                        <div class="fun-fact" data-fun-fact-color="#2a41e6">
                            <div class="fun-fact-text">
                                <span>This Month Views</span>
                                <h4>987</h4>
                            </div>
                            <div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="dashboard-footer-spacer"></div>
                    <Footer></Footer>
                    <!-- Footer / End -->

                </div>
            </div>
        </slot>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>