<template>
    <div class="dashboard-sidebar">
        <div class="dashboard-sidebar-inner" data-simplebar>
            <div class="dashboard-nav-container">

                <!-- Responsive Navigation Trigger -->
                <a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
                    <span class="trigger-title">Dashboard Navigation</span>
                </a>

                <!-- Navigation -->
                <div class="dashboard-nav">
                    <div class="dashboard-nav-inner">
                        <ul>
                            <li>
                                <router-link to="/mediator">Dashboard</router-link>
                            </li>
                            <li>
                                <router-link to="/mediator/public-cases">Find Case</router-link>
                            </li>
                            <li>
                                <router-link to="/mediator/profile">Profile</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Navigation / End -->

            </div>
        </div>
    </div>
</template>

<style lang="scss">
    @import "module.style";
</style>

<script>
    // import Module from "./index";
    // const module = new Module();
    // console.log(module);
    // export default module;
</script>