.dashboard-nav ul li a.router-link-exact-active{
  display: block;
  border-left: 3px solid #2a41e8;
  transition: 0.3s;
  line-height: 25px;
  font-size: 15px;
  color: #2a41e8;
  background-color: rgba(42,65,232,0.04);
}