<template>
    <div id="wrapper">
        <slot name="header"></slot>
        <div class="clearfix"></div>
        <div class="dashboard-container">
            <slot name="sidebar"></slot>
            <slot></slot>
        </div>
    </div>
</template>

<style lang="scss">
    @import '../../Assets/Theme/css/style.css';
    @import '../../Assets/Theme/css/colors/blue.css';
    @import '~sweetalert2/src/sweetalert2';
</style>

<script>
    export default {
        name: "app",
        data() {
            return {
                componentName: ""
            }
        }
    }
</script>
