<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <template slot="sidebar">
            <Sidebar></Sidebar>
        </template>
        <slot>
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner" >
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-business-center"></i> Open Cases </h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">
                                        <template v-for="openCase in openCases">
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">
                                                        <template v-if="openCase.is_private">
                                                            <i class="icon-feather-eye-off icon-is-private red"></i>
                                                        </template>
                                                        <template v-else>
                                                            <i class="icon-feather-eye icon-is-private green"></i>
                                                        </template>
                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="#">{{openCase.title}}</a></h3>
                                                            <h5 class="job-listing-description">{{openCase.description}}</h5>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer margin-top-10">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-business-center"></i>{{openCase.category.name}}</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>{{openCase.created_at}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="numbered color filled" v-if="openCase.is_private">
                                                            <span class="nav-tag counter-item">{{openCase.mediators.length}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-20">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-business-center"></i> Old Cases </h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">
                                        <template v-for="closeCase in closeCases">
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Logo -->
                                                        <a href="#" class="job-listing-company-logo">
                                                            <img src="images/company-logo-02.png" alt="">
                                                        </a>

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="#">Barista and Cashier</a></h3>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-business"></i> Coffee</li>
                                                                    <li><i class="icon-material-outline-location-on"></i> San Francisco</li>
                                                                    <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                                                    <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Buttons -->
                                                <div class="buttons-to-right">
                                                    <a href="#" class="button red ripple-effect ico" title="Remove" data-tippy-placement="left"><i class="icon-feather-trash-2"></i></a>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Footer -->
                    <div class="dashboard-footer-spacer"></div>
                    <Footer></Footer>
                    <!-- Footer / End -->

                </div>
            </div>
        </slot>
    </Layout>
</template>

<style lang="scss">
    @import "./module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>