<template>
    <router-view></router-view>
</template>

<style lang="scss">
  @import './Assets/Theme/css/style.css';
  @import './Assets/Theme/css/colors/blue.css';
</style>

<script>
  import Theme from "./Assets/Theme";
  const theme = new Theme();

  import Dashboard from "./Pages/Common/Dashboard/Main";
  import Auth from "./Pages/Auth/Main";

  import './Assets/Theme/css/style.css';
  import './Assets/Theme/css/colors/blue.css';

  export default  {
      name: "app",
      data() {
          return {
              componentName: "Auth"
          }
      },
      components: {
          Dashboard,
          Auth
      },
  }
</script>
