<template>
    <div class="intro-banner" data-background-image="images/home-background.jpg">
        <div class="container">
            <!-- Intro Headline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-headline">
                        <h3>
                            <strong>Find Mediators for help your achieve pragmatic and cost effective solutions in relation to all types of banking disputes</strong>
                            <br>
                            <!--<span>Thousands of small businesses use <strong class="color">Hireo</strong> to turn their ideas into reality.</span>-->
                        </h3>
                    </div>
                </div>
            </div>

            <!-- Search Bar -->
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-banner-search-form margin-top-95">

                        <!-- Search Field -->
                        <div class="intro-search-field with-autocomplete">
                            <label for="autocomplete-input" class="field-title ripple-effect">Category</label>
                            <div class="input-with-icon">
                                <select class="selectpicker with-border" id="autocomplete-input"
                                        title="Select Category">
                                    <template v-for="category in categoryList">
                                        <option :value="category.id">{{category.name}}</option>
                                    </template>

                                </select>
                                <i class="icon-material-outline-location-on"></i>
                            </div>
                        </div>

                        <!-- Search Field -->
                        <div class="intro-search-field">
                            <label for ="intro-keywords" class="field-title ripple-effect">Name</label>
                            <input id="intro-keywords" type="text" placeholder="Firstname Lastname">
                        </div>

                        <!-- Button -->
                        <div class="intro-search-button">
                            <router-link class="button ripple-effect" to="/auth">Search</router-link>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="intro-stats margin-top-45 hide-under-992px">
                        <li>
                            <strong class="counter-statistics">{{statistics.mediators || 0}}</strong>
                            <span>Mediators</span>
                        </li>
                        <li>
                            <strong class="counter-statistics">{{statistics.openDisputes || 0}}</strong>
                            <span>Open Case</span>
                        </li>
                        <li>
                            <strong class="counter-statistics">{{statistics.closedDisputes || 0}}</strong>
                            <span>Closed Case</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</template>

<style lang="scss">
    @import "module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>