<template>
    <Layout>
        <template slot="header">
            <Header></Header>
        </template>
        <slot>
            <div class="full-page-container">
                <form @submit.prevent="search">
                    <div class="full-page-sidebar">
                        <div class="full-page-sidebar-inner" data-simplebar>
                            <div class="sidebar-container">

                                <!-- Location -->
                                <div class="sidebar-widget">
                                    <h3>Mediator name</h3>
                                    <div class="input-with-icon">
                                        <div id="autocomplete-container">
                                            <input id="autocomplete-input" type="text" placeholder="Fullname" v-model="searchFormData.q">
                                        </div>
                                        <i class="icon-feather-user"></i>
                                    </div>
                                </div>

                                <!-- Category -->
                                <div class="sidebar-widget">
                                    <h3>Category</h3>
                                    <select class="selectpicker with-border" multiple  v-model="searchFormData.categories">
                                        title="Select Category">
                                        <template v-for="category in categoryList">
                                            <option :value="category.id">{{category.name}}</option>
                                        </template>
                                    </select>
                                </div>

                            </div>
                            <!-- Sidebar Container / End -->

                            <!-- Search Button -->
                            <div class="sidebar-search-button-container">
                                <button type="submit" class="button ripple-effect">Search</button>
                            </div>
                            <!-- Search Button / End-->

                        </div>
                    </div>
                </form>
                <Mediators :mediators="mediators"></Mediators>
            </div>
        </slot>
        <template slot="footer">
            <Footer></Footer>
        </template>
    </Layout>
</template>

<style lang="scss">
    @import "module.style";
</style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>