<template>
    <header id="header-container" class="fullwidth">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <!--<div id="logo">-->
                        <!---->
                    <!--</div>-->

                    <!-- Main Navigation -->
                    <nav id="navigation">
                        <ul id="responsive"></ul>
                    </nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->


                <!-- Right Side Content / End -->
                <div class="right-side">

                    <!--  User Notifications -->
                    <div class="header-widget hide-on-mobile">
                        <!-- Messages -->
                        <div class="header-notifications">
                            <div class="header-notifications-trigger">
                                <router-link to="auth" style="color: #2a41e8; font-size: 0.85em;">SignIn / SignUp</router-link>
                            </div>
                        </div>
                    </div>
                    <!--  User Notifications / End -->
                </div>
                <!-- User Menu / End -->

                <!-- Mobile Navigation Button -->
                <span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

            </div>
            <!-- Right Side Content / End -->

        </div>
        </div>
        <!-- Header / End -->

    </header>
</template>

<style lang="scss">
    @import "module.style";
</style>

<script>
    import Module from ".";

    const module = new Module();
    export default module;
</script>