<template>
    <div class="full-page-content-container" data-simplebar>
        <div class="full-page-content-inner">

            <h3 class="page-title">Search Results</h3>

            <!-- Freelancers List Container -->
            <div class="freelancers-container freelancers-list-layout margin-top-35">

                <template v-for="caseItem in cases">
                    <div class="freelancer">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">
                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="#">{{caseItem.title}} <img class="flag" src="images/flags/gb.svg" alt=""  data-tippy-placement="top"></a></h4>
                                    <span>{{caseItem.description}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>Creator <strong>{{caseItem.creator.email}}</strong></li>
                                    <li>Category <strong>{{caseItem.category.name}}</strong></li>
                                </ul>
                            </div>
                            <a href="#" @click="offer(caseItem.id)" class="button button-sliding-icon ripple-effect">Offer<i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>

                </template>

            </div>
            <!-- Freelancers Container / End -->

            <!-- Pagination -->
            <div class="clearfix"></div>
            <!-- Pagination / End -->

            <!-- Footer -->
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->

        </div>
    </div>
</template>

<style></style>

<script>
    import Module from "./index";
    const module = new Module();
    export default module;
</script>