<template>
    <div id="wrapper">
        <slot name="header"></slot>
        <div class="clearfix"></div>
        <slot></slot>
        <div class="margin-top-70"></div>
        <slot name="footer"></slot>
    </div>
</template>

<style lang="scss">
    @import '../../Assets/Theme/css/style.css';
    @import '../../Assets/Theme/css/colors/blue.css';
</style>

<script>
    export default  {
        name: "app",
        data() {
            return {
                componentName: ""
            }
        }
    }
</script>
